.headersimg{
  width: 80%;
  height: 60rem;
}
.reco-logopic{
  position: absolute;
  top:35%;
  left:60%;
}
.reco-logo{
  height: 20vh;
}
  /* Background-picture Section End */

     /* Logo Section */

.phone1{
  font-weight: 500;
  font-size: 1rem;
}
.contact-button{
  background-color:#1e9a1d !important;
  border-color:#1e9a1d !important;
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 5%;
  margin-left: 40%;
  width: 20%;
}
.contact-button-link{
  color:#ffffff !important;
}
.contact-btn{
padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

@media (max-width:576px){
  .reco-logo{
    height: 18vh;
  }
  .headersimg{
    height: 25rem;
  }
  .reco-logopic{
    top:23%;
    left:55%;
  }
  .phone1{
    left:12%;
    font-size: 1rem;
  }
  .contact-button{
    width: 75%;
    margin:0 0 10% 15%;
  }
  .recodescription{
    padding:15% 2% 0 2%;
  }
}
