.headersimg{
  width: 80%;
  height: 60rem;
}
.reco-logopic{
  position: absolute;
  top:35%;
  left:60%;
}
.reco-logo{
  height: 20vh;
}
  /* Background-picture Section End */

     /* Logo Section */

.phone1{
  font-weight: 500;
  font-size: 1rem;
}
.contact-section{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 2rem;
}
.btn-send{
  width: 10%;
}
.status{
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
}
.success{
  background-color: #39A388;
}
.error{
  background-color: #FF0000;
  color:white;
 }
@media (max-width:576px){
  .reco-logo{
    height: 18vh;
  }
  .headersimg{
    height: 25rem;
  }
  .reco-logopic{
    top:25%;
    left:55%;
  }
  .phone1{
    left:12%;
    font-size: 1rem;
  }
  .contact-section{
    min-width: 80% !important;
    margin: auto !important;
  }
  .btn-send{
    width: 50%;
    margin-bottom: 5%;
  }

  .border{
    margin:auto 5%;
  }

}
