html, body {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    background-color: #D4B499;
}
.courses-logopic{
  position: absolute;
  top:30%;
  left:70%;
}
.courses-logo{
  height: 25vh;
  margin-left: 3rem;
  padding-bottom: 2.3rem;
}
.slogen-courses{
  position: absolute;
  top:65%;
  left:55%;
  font-size: 2rem;
  color: white;
}
.phone1{
  position: absolute;
  top:95%;
  left:40%;
  font-size: 2rem;
  color: white;
}

.shortles,.longles{
  display: flex;
  margin-bottom:  8rem;

}
.row-gap{
  margin-bottom: 10rem;

}
.col-gap{
  padding: 0;
  min-height: 100vh;
}

.card{
  position: relative;
  padding: 0 !important;

    /* height: 100% !important; */
}
.text-card{
    position: relative;
    background: url("../img/courses-card-back.jpg");
    background-size: cover;
    opacity: 0.7;

}
.text-card::before{
  position: absolute;
  content:'';
  width: 100%;
  height:100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.5);
}
.card iframe{
  width: 100%;

}
.card-contact{
  margin-top: 5rem;
}
.practice{
  margin-left: 3rem;
}
.bandel1-head{
  margin-top: 3rem;
  color: #800080;
}
.bandel1{
  padding:5% 9%;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'RavMesser atlas';
  color:#000;

}
/* .bandel2{
  padding:5% 9%;
  font-size: 1rem;
  font-family: 'RavMesser atlas';
} */
.btn-bandel1{
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
}
.btn-bandel2{
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}

@media (max-width:576px){
  video{
    height: 41rem;
  }

  iframe{
    margin:0;
  }
  .courses-logopic{
    top:35%;
    left:25%;
  }
  .slogen-courses{

    top:60%;
    left:5%;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: white;
  }
  .phone1{
    top:80%;
    left:34%;
    font-size: 1.5rem;
  }
  .container{
      min-width: 100% !important;
      padding: 0 !important;
      margin:0 !important;
  }
  .recodescription{
    text-align: right;
    padding-right: 5%;
    padding-left: 5%;
  }
  .card{

    padding:0 1rem;
    border-radius: 0;
    border: 0;
    border-color: white;
    height: 100% !important;
  }

  .longles{

    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .text-card{
    /* height: auto; */
  }
  .card-contact{
    margin-top: 1rem;
  }
  .bandel1{
    font-size: 1.2rem;
    text-align: right;
  }
  .btn-bandel1{
    margin-bottom: 3rem;
  }
  .btn-bandel2{
    margin-bottom: 4rem;
  }
}

/* @media (max-width:300px){
  .body{
      min-width: 100% !important;
      padding: 0 !important;
      margin:0 !important;
  } */
}
