.courses-logopic{
  position: absolute;
  top:10%;
  left:75%;
}
.slogen-movi{
  position: absolute;
  top:35%;
  left:80%;
  font-size: 2rem;
  color: white;
}
.reco-setting-movipic{
  height: 60rem;
}

.iframe-container-movpic{
  position: relative;
  width: 100%;
  /* padding-bottom: 55.0%; */
  height: 25rem;
  width: 40rem;

}

.iframe-container-movpic iframe{
  padding-left: 1rem;
  width: 100%;
  height: 100%;

}
    /* Movies Pictures Section End */
.movi1{
  display:inline-block;
}
.movi2{
  text-align: left;
}
.movipic-abouttext{
  /* padding: 10% 10% 0 0%; */
  justify-content: center;
  width: 100%;
}
.songs{
  color: #911F27;
  font-weight: bold;
  font-family:  serif;
}

.picture-img{
  padding-left: 1rem;
  width: 100%;
  height: 100%;
}
@media (max-width:576px){
  video{
    height: 41rem;
  }

  iframe{
    margin:0;
  }
  .courses-logopic{
    top:75%;
    left:5%;
  }
  /* .slogen-courses{

    top:60%;
    left:5%;
    padding-right:1rem;
    font-size: 1.5rem;
    color: white;
  } */
 .phone1{
    left:12%;
    top:75%;
    font-size: 1rem;
  }
  .movi1{
    display:block;
    margin-bottom: 3rem;
  }
  .reco-setting-movipic{
    height: auto;

  }
  .container{
      min-width: 100% !important;
      padding: 0 !important;
      margin:0 !important;
  }
  .iframe-container-movpic{
      width: auto;
  }
  .iframe-container-movpic iframe{
    padding-left: 0rem;
  }
  .picture-img{
    padding-left: 0rem;
  }
  .ptext{
    padding: 0% 10% 0 10%;
    justify-content: center;
  }
  }
