body{

  padding:0;
  margin:0;
  text-align: center;
  box-sizing: border-box;

}
html, body {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}
.container{
  max-width: 80%;
}
   /* Background-picture Section */
.reco-logopic{
  position: absolute;
  top:12%;
  left:60%;
}
.reco-logo{
  height: 30vh;
}
  /* Background-picture Section End */

     /* Logo Section */

.phone1{
  position: absolute;
  top:75%;
  left:26%;
  font-size: 1.5rem;
  color: white;
  font-size: 1.5rem;
}
    /* Logo Section End */

    /* Recommendation Description Section */
.recodescription{
  font-size: 1.3rem;
  line-height: 1.8;
  padding-top: 10%;
  margin-bottom: 5rem;
  font-weight: 500;
}

      /* Recommendation Description Section End */

      /* Global Recommendation Settings Section */
.cut-border{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 3rem;
}

.reco-setting{
  position: relative;
  font-family: "Montserrat", Sans-serif;
  font-style: italic;
  height: 40rem;
  color:black;
  font-size: 1.3rem;
  line-height: 1.8;
  background-color: white;
}

.reco-img{
  margin-top: 7rem;
  width: 50%;
}
    /* Global Recommendation Settings Section End */

    /* Right-Text Recommendation Section */
.reco-img-left{
  float: left;
  padding-right: 5rem;
}

.reco-abouttext{
padding: 7% 10% 0 60%;
justify-content: center;
}
    /* Right-Text Recommendation Section End */

    /* Left-Text Recommendation Section */
.reco-img-right{
  float:right;
  margin-right: 5rem;
}

.reco-coursestext{
padding: 7% 5% 0 10%;
justify-content: center;
}
    /* Left-Text Recommendation Section End */

    /* Third Recommendation Section */
.third-reco{
  height: 45rem;
}

.third-text{
  padding: 5% 0% 10% 5%;
  margin-right: 5rem;
  overflow: hidden;
}

.third-img{
  margin-top: 10rem;
}
  /* Third Recommendation Section End */

@media (max-width:576px){
  /* .headers{
    min-width: 100% !important;
    padding: 0 !important;
    margin:0 !important;
  } */
.headersimg{
  height: 25rem;
}
.reco-logopic{
  top:38%;
}
.reco-logo{
  height: 19vh;
}
.phone1{
  left:12%;
  font-size: 1rem;
}
/* .container{
    min-width: 100% !important;
    padding: 0 !important;
    margin:0 !important;
} */
.recodescription{
  font-size: 1rem;
  margin-bottom: 3rem;
}
.reco-setting{
  height: 55rem;
}
.reco-img-left{
  width: 100%;
  padding-right: 0rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.feedback-personal{
  font-size: 1.5rem;
}
.reco-abouttext{
  padding: 7% 10% 0 10%;
  justify-content: center;
  font-size: 1.2rem;
}
    /* Right-Text Recommendation Section End */

    /* Left-Text Recommendation Section */
.reco-img-right{
  width: 100%;
  margin-right: 0rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.reco-coursestext{
  padding: 7% 10% 0 10%;
  justify-content: center;
  font-size: 1.2rem;
}
.second-reco{
  height: 45rem;
}
.third-reco{
  height: 70rem;
}
.third-text{
  padding: 7% 10% 0 10%;
  justify-content: center;
  font-size: 1.2rem;
  margin-right: 0rem;
  overflow: hidden;
}
}
